@model William_Santisteban_02_08_2016.ViewModels.ReglamentoViewModel

@{
    ViewBag.Title = "Agregar";
}

<h2>Editar Reglamento</h2>
@using (Html.BeginForm("Editar", "Reglamento", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(m => m.NombreReglamento, new { @class = "col-md-3 control-label" })
        <div class="col-md-3 col-xs-8 col-lg-3 input-group">
            @Html.TextBoxFor(m => m.NombreReglamento, new { @class = "form-control" })
            <span class="input-group-addon">
                <span class="fa fa-wpforms">
                </span>
            </span>
        </div>
    </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Descripcion, new { @class = "col-md-3 control-label" })
            <div class="col-md-3 col-xs-8 col-lg-3  input-group">
                @Html.TextAreaFor(m => m.Descripcion, new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Estado, new { @class = "col-md-3 control-label" })
            <div class="col-md-3 col-xs-8 col-lg-3  input-group">
                @Html.DropDownListFor(m => m.Estado, (SelectList)ViewBag.EstadoReglamento, new { @class = "form-control" })
                <span class="input-group-addon">
                    <span class="fa fa-check-circle-o">
                    </span>
                </span>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.FechaConfeccion, new { @class = "col-md-3 control-label" })
            <div class="col-md-3 col-xs-8 col-lg-3 input-group date" id="fechaconf">
                @Html.TextBoxFor(m => m.FechaConfeccion, new { @class = "form-control" })
                <span class="input-group-addon">
                    <span class="fa fa-calendar-times-o">
                    </span>
                </span>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.FechaVigencia, new { @class = "col-md-3 control-label" })
            <div class="col-md-3 col-xs-8 col-lg-3 input-group date" id="fechavig">
                @Html.TextBoxFor(m => m.FechaVigencia, new { @class = "form-control" })
                <span class="input-group-addon">
                    <span class="fa fa-calendar-check-o">
                    </span>
                </span>
            </div>
        </div>

        <div class="form-group">
            <span class="col-md-offset-5 col-md-3 btn-block">
                <button type="submit" class="btn btn-success">Guardar</button>
            </span>
        </div>
}


