@model IEnumerable<William_Santisteban_02_08_2016.Models.REGLAMENTO>
@{
    ViewBag.Title = "Index";
}

<div class="search-panel">
    <div class="pull-right position">
        @Html.Label("Filtrar por Descripcion", new { @class = "col-md-3 control-label" })
        <div class="input-group">
            @Html.ValidationSummary(true)
            @Html.TextBox("descripcion", null, new { @class = "form-control sr-posiciondesc", @placeholder = "Filtrar por Descripción", @id = "searchBox" })
        </div>
    </div>
        @using (Html.BeginForm())
        {
            <div class="pull-right position">
                @Html.Label("Filtrar por Fecha", new { @class = "col-md-3 control-label" })
                <div class="input-group date">
                    @Html.ValidationSummary(true)
                    @Html.TextBox("fecha", null, new { @class = "sr-input form-control", @id = "fechadealta" })
                    <button class="btn sr-btn" type="submit"><i class="fa fa-search"></i></button>
                </div>
            </div>
        }
</div>

<h2>Listado de Reglamentos</h2>
<a href="@Url.Action("Agregar", "Reglamento")" class="btn btn-warning btn-xs"><span class="glyphicon glyphicon-book"></span> Agregar Reglamento</a>
<table class="table table-striped">
    <thead>
        <tr>
           <td>Identificacion</td>
            <td>Nombre</td>
            <td>Descripcion</td>
            <td>Estado</td>
            <td>Fecha Confección</td>
            <td>Fecha Vigencia</td>
            <td>Acciones</td>
        </tr>
    </thead>
    <tbody id="ListaDeReglamentos">
    @foreach (var reglamento in Model)
    {
        <tr>
            <td>@Html.DisplayFor(model => reglamento.ID_REGLAMENTO)</td>
            <td>@Html.DisplayFor(model => reglamento.NOMBRE_REGLAMENTO)</td>
            <td>@Html.DisplayFor(model => reglamento.DESC_REGLAMENTO)</td>
            <td>@Html.DisplayFor(model => reglamento.ESTADO)</td>
            <td>@Html.DisplayFor(model => reglamento.FECHA_CONFECCION)</td>
            <td>@Html.DisplayFor(model => reglamento.FECHA_VIGENCIA)</td>
            <td class="text-center">
                <a href="@Url.Action("Editar", "Reglamento", new { id = reglamento.ID_REGLAMENTO })" class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-edit"></span> Editar</a>
                <a href="@Url.Action("Eliminar", "Reglamento", new { id = reglamento.ID_REGLAMENTO })" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-remove"></span> Eliminar</a>
            </td>
        </tr>
    }
    </tbody>
</table>


<script type="text/javascript">

    $(document).ready(function () {
        $("#searchBox").change(function () {
            var descripcion = $("#searchBox").val();
            var reqDiv = $("#ListaDeReglamentos");
            var url = '/Reglamento/BusquedaPorDescripcion';
            $.ajax({
                cache: false,
                type: "POST",
                url: url,
                data: { "descripcion": descripcion },
                success: function (data) {
                    var result = "";
                    reqDiv.html('');
                    $.each(data, function (descripcion, reglamento) {
                        result += "<tr><td>'" + reglamento.Identificacion + "'</td>'" +
                            "'<td>'" + reglamento.Nombre + "'</td>'" +
                            "'<td>'" + reglamento.Descripcion + "'</td>'" +
                            "'<td>'" + reglamento.Estado + "'</td>'" +
                            "'<td>'" + reglamento.FechaConf + "'</td>'" +
                            "'<td>'" + reglamento.FechaVig + "'</td></tr>'";
                    });
                    reqDiv.html(result);
                },
                error: function (xhr, ajaxOptions, thrownError) {
                        alert('Fallo al recuperar los reglamentos.');
                    }
                });
        });
    });
</script>  